<h2>Здравствуйте, пожалуйста ознакомьтесь с правилами ниже</h2>
<p>Вы можете отправить запрос вида: http://localhost:8080/ЧИСЛО/news/for/КАТЕГОРИЯ</p>
<p>Где вместо КАТЕГОРИЯ могут стоять значения: business, economic, finances, politics, а вместо ЧИСЛО - целое положительное число.</p>
<p>Этот запрос читается как "Дай СТОЛЬКО-ТО новостей из КАТЕГОРИЯ"</p>
<p>Например: http://localhost:8080/10/news/for/business (дай 10 новостей из категории Бизнес).</p>